services:
  - type: web
    name: whatsapp-bot
    runtime: node
    plan: free
    buildCommand: npm install
    startCommand: node index.js
    
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: whatsapp-db
          property: connectionString
      - key: WHATSAPP_PHONE_NUMBER
        sync: false

databases:
  - name: whatsapp-db
    plan: free